<div class="row">
    <div class="col s10 offset-s1">
        <h5>{{"customerList.header" | translate}}</h5>
    </div>
</div>

<div class="row">
    <div class="col s10 offset-s1">
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>{{'customerList.tableHeaders.name' | translate}}</th>
                    <th translate>customerList.tableHeaders.city</th>
                    <th>{{'customerList.tableHeaders.country' | translate}}</th>
                    <th>{{'customerList.tableHeaders.customerSince' | translate}}</th>
                    <th class="right-align">{{'customerList.tableHeaders.satisfaction' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers" [routerLink]="[customer.id]">
                    <td>{{customer.name}}</td>
                    <td>{{customer.city}}</td>
                    <td>{{customer.country}} ({{customer.countryCode}})</td>
                    <td>{{customer.customerSince | date: 'mediumDate': currentLanguage}}</td>
                    <td class="right-align">{{customer.satisfaction | number: '1.2-2': currentLanguage}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large pink" [routerLink]="['add']">
        <i class="large material-icons">add</i>
    </a>
</div>
